#finland {
    background-color: #ffdab9;
}

#finland > div {
    width: 35vh;
    height: calc((35vh * 11) / 18);
    background-image: linear-gradient(to right, transparent calc((100% * 5) / 18), #002f6c calc((100% * 5) / 18), #002f6c calc((100% * 8) / 18), transparent calc((100% * 8) / 18)),
                      linear-gradient(to bottom, #fff calc((100% * 4) / 11), #002f6c calc((100% * 4) / 11), #002f6c calc((100% * 7) / 11), #fff calc((100% * 7) / 11));
    margin: calc(((100vh / 3) - (35vh * 11) / 18) / 2) auto 0;
}

#sweden {
    background-color: #fad9ff;
}

#sweden > div {
    width: 35vh;
    height: calc((35vh * 5) / 8);
    background-image: linear-gradient(to right, transparent calc((100% * 5) / 16), #FFCD00 calc((100% * 5) / 16), #FFCD00 calc((100% * 7) / 16), transparent calc((100% * 7) / 16)),
                      linear-gradient(to bottom, #004B87 calc((100% * 4) / 10), #FFCD00 calc((100% * 4) / 10), #FFCD00 calc((100% * 6) / 10), #004B87 calc((100% * 6) / 10));
    margin: calc(((100vh / 3) - (35vh * 5) / 8) / 2) auto 0;
}


#norway {
    background-color: #aaffc2;
}

#norway > div {
    width: 35vh;
    height: calc((35vh * 16) / 22);
    background-image: linear-gradient(to right, transparent calc((100% * 6) / 22), #fff calc((100% * 6) / 22), #fff calc((100% * 7) / 22), #3F4A75 calc((100% * 7) / 22), #3F4A75 calc((100% * 9) / 22), #fff calc((100% * 9) / 22), #fff calc((100% * 10) / 22), transparent calc((100% * 10) / 22)),
                      linear-gradient(to bottom, #ba0c2f calc((100% * 6) / 16), #fff calc((100% * 6) / 16), #fff calc((100% * 7) / 16), #3F4A75 calc((100% * 7) / 16), #3F4A75 calc((100% * 9) / 16), #fff calc((100% * 9) / 16), #fff calc((100% * 10) / 16), #ba0c2f calc((100% * 10) / 16));
    margin: calc(((100vh / 3) - (35vh * 16) / 22) / 2) auto 0;
    position: relative;
}

#norway > div::after {
    background-image: linear-gradient(to bottom, transparent calc((100% * 7) / 16), #3F4A75 calc((100% * 7) / 16), #3F4A75 calc((100% * 9) / 16), transparent calc((100% * 9) / 16));
    width: 100%;
    height: 100%;
    content: '';
    display: block;
}

#usa {
    background-color: #f8ffa5;
}

#usa > div {
    width: 35vh;
    height: calc((35vh * 10) / 19);
    background-image: repeating-linear-gradient(to bottom, #B22234 0, #B22234 calc(100% / 13), #fff calc(100% / 13), #fff calc((100% / 13) * 2));
    margin: calc(((100vh / 3) - (35vh * 10) / 19) / 2) auto 0;
    position: relative;
}

#usa > div::after {
    width: calc((100% * 2 / 5) - (2vh / 2));
    height: calc(((100% / 13) * 7) - (0.7vh / 2));
    content: '★★★★★★ ★★★★★ ★★★★★★ ★★★★★ ★★★★★★ ★★★★★ ★★★★★★ ★★★★★ ★★★★★★';
    display: block;
    background: #3C3B6E;
    font-size: calc((35vh * 10 * 1 * 4) / (5 * 13 * 19));
    color: #fff;
    letter-spacing: calc((35vh * 10 * 7 * 1 * 2) / (17 * 13 * 19));
    text-align: center;
     border-left: #3C3B6E calc(0.6vh / 2) solid;
    line-height: calc((35vh * 10 * 7 * 2) / (18 * 13 * 19));
    border-top: #3C3B6E calc(0.6vh / 2) solid;
    white-space: pre-wrap;
}


#cuba {
    background-color: #ffe4f2;
}

#cuba > div {
    width: 35vh;
    height: calc((35vh * 1) / 2);
    background-image: repeating-linear-gradient(to bottom, #002A8F 0, #002A8F calc(100% / 5), #fff calc(100% / 5), #fff calc((100% / 5) * 2));
    margin: calc(((100vh / 3) - (35vh * 1) / 2) / 2) auto 0;
    position: relative;
    z-index: 0;
}

#cuba > div::before {
    width: 0;
    height: 0;
    border-top: calc((35vh * 1) / 4) solid transparent;
    border-bottom: calc((35vh * 1) / 4) solid transparent;
    border-left: calc((35vh * 1) / 2 * 1.73 / 2) solid #CB1515;
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
}

#cuba > div::after {
    width: calc((35vh * 1) / 2 * 1.73 / 3);
    height: 100%;
    content: '★';
    display: block;
    font-size: 5vh;
    color: #fff;
    text-align: center;
    line-height: calc((35vh * 1) / 2);
    position: absolute;
    z-index: 2;
}

#panama {
    background-color: #dbfaff;
}

#panama > div {
    width: 35vh;
    height: calc((35vh * 2) / 3);
    background-image: linear-gradient(to right, #005293 0, #005293 50%, #D21034 50%, #D21034 50%);
    margin: calc(((100vh / 3) - (35vh * 2) / 3) / 2) auto 0;
    position: relative;
    z-index: 0;
}

#panama > div::before {
    width: 50%;
    height: 50%;
    content: '★';
    display: block;
    color: #005293;
    position: absolute;
    background: #fff;
    text-align: center;
    line-height: calc((35vh * 2) / 6);
    font-size: 6vh;
    z-index: 1;
}

#panama > div::after {
    width: 50%;
    height: 50%;
    content: '★';
    display: block;
    font-size: 6vh;
    color: #D21034;
    text-align: center;
    line-height: calc((35vh * 2) / 6);
    position: absolute;
    background: #fff;
    z-index: 1;
    bottom: 0;
    right: 0;
}

#arizona {
    background-color: #ffc1c0;
}

#arizona > div {
    width: 35vh;
    height: calc((35vh * 2) / 3);
    background-image: linear-gradient(to bottom, transparent 50%, #002868 50%),
                      linear-gradient(14deg, #BF0A30 50%, transparent 50%),
                      linear-gradient(26deg, #FED700 50%, transparent 50%),
                      linear-gradient(39deg, #BF0A30 50%, transparent 50%),
                      linear-gradient(51deg, #FED700 50%, transparent 50%),
                      linear-gradient(66deg, #BF0A30 50%, transparent 50%),
                      linear-gradient(79deg, #FED700 50%, transparent 50%),
                      linear-gradient(90deg, #BF0A30 50%, transparent 50%),
                      linear-gradient(101deg, #BF0A30 50%, transparent 50%),
                      linear-gradient(114deg, #FED700 50%, transparent 50%),
                      linear-gradient(129deg, #BF0A30 50%, transparent 50%),
                      linear-gradient(144deg, #FED700 50%, transparent 50%),
                      linear-gradient(156deg, #BF0A30 50%, transparent 50%),
                      linear-gradient(166deg, #FED700 50%, transparent 50%),
                      linear-gradient(182deg, #BF0A30 50%, transparent 50%);
    margin: calc(((100vh / 3) - (35vh * 2) / 3) / 2) auto 0;
    position: relative;
    z-index: 0;
}

#arizona > div::before {
    width: 100%;
    height: 100%;
    content: '★';
    display: block;
    color: #CE5C17;
    position: absolute;
    text-align: center;
    line-height: calc((35vh * 2) / 3);
    font-size: 11.5vh;
    z-index: 1;
}

#chicago {
     background-color: #ebffb9;
 }

#chicago > div {
    width: 35vh;
    height: calc((35vh * 2) / 3);
    background-image: linear-gradient(to bottom, #fff calc(100% / 6), #B3DDF2 calc(100% / 6), #B3DDF2 calc(100% / 6 * 2), #fff calc(100% / 6 * 2), #fff calc(100% / 6 * 3), #fff calc(100% / 6 * 3), #fff calc(100% / 6 * 4), #B3DDF2 calc(100% / 6 * 4), #B3DDF2 calc(100% / 6 * 5), #fff calc(100% / 6 * 5));
    margin: calc(((100vh / 3) - (35vh * 2) / 3) / 2) auto 0;
    position: relative;
    z-index: 0;
}

#chicago > div::before {
    width: 100%;
    height: 100%;
    content: '✶ ✶ ✶ ✶';
    display: block;
    color: #f00;
    position: absolute;
    text-align: center;
    line-height: calc((35vh * 2) / 3);
    font-size: 7vh;
    z-index: 1;
}

#amsterdam {
    background-color: #edfdff;
}

#amsterdam > div {
    width: 35vh;
    height: calc((35vh * 2) / 3);
    background-image: repeating-linear-gradient(to bottom, #da1219 0, #da1219 calc(100% / 3), #000 calc(100% / 3), #000 calc(100% / 3 * 2));
    margin: calc(((100vh / 3) - (35vh * 2) / 3) / 2) auto 0;
    position: relative;
    z-index: 0;
}

#amsterdam > div::before {
    width: 100%;
    height: 100%;
    content: '✖ ✖ ✖';
    display: block;
    color: #fff;
    position: absolute;
    text-align: center;
    line-height: calc(((35vh * 2) / 3) + 5px);
    font-size: 9vh;
    z-index: 1;
}

#okinawa {
    background-color: #ffd9c2;
}

#okinawa > div {
    width: 35vh;
    height: calc((35vh * 2) / 3);
    background: #fff;
    margin: calc(((100vh / 3) - (35vh * 2) / 3) / 2) auto 0;
    position: relative;
    z-index: 0;
}

#okinawa > div::before {
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background-image: radial-gradient(circle at calc(100% * 2.5 / 5) calc(100% * 2.5 / 6.5), #c8003d calc(100% * 4 / 24), transparent calc(100% * 4 / 24)), radial-gradient(circle at calc(100% * 2.5 / 5) calc(100% * 2.5 / 5.5), #FFF calc(100% * 7 / 24), transparent calc(100% * 7 / 24)), radial-gradient(circle at center, #c8003d calc(100% * 10 / 24), transparent calc(100% * 10 / 24));
    z-index: 1;
}
