
::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

body {
    position: relative;
}

header {
    width: 100%;
    height: 50px;
    position: absolute;
    background: #9a6dea;
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
    z-index: 100;
}

header > * {
    padding: 10px;
    margin: 0;
    line-height: calc(50px - 20px);
    height: calc(50px - 20px);
}

header p {
    float: left;
}

header span {
    float: right;
}

header a {
    color: #fff;
    padding: calc((50px - 17px) / 2) 5px;
    text-decoration: none;
}

header a:hover {
    background: #fff;
    color: #9a6dea;
}

#content {
    position: absolute;
    top: 50px;
}

#content > div {
    height: calc(100vh / 3);
    text-align: center;
    position: relative;
}

.entry {
    width: 50%;
    float: left;
}

.entry-wide {
    width: 100%;
    float: left;
}

#content > div > div {
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

@media(max-width: 960px) {
    header span {
        display: none;
    }

    .entry {
        width: 100%;
    }
}
